@import '../../../style/color.scss';

.btn_wrap {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;

 .btns {
  display: flex;
  flex-direction: row;
  .text_btn {
   border: 0.1em solid $white-text;
   margin: 0 1em 0.3em ;
   width: 33%;
   height: 50px;
   border-radius: 0.5em;
   font-size: 1.4em;
   font-weight: 700;
   background-color: $button-inactive;
   color: $white-text;
  }
  .active {
   color: $white-text;
  }
 }
}

@media screen and (min-width: 767px) {
 .btns {
  div {
   width: 200px !important;
  }
 }
}

@media screen and (min-width: 1000px) {
 .btns {
  div {
   width: 250px !important;
  }
 }
}