@import "../../style/color.scss";

.title {
  font-size: 4em;
  font-weight: 700;
  color: $secondary-color;
  text-shadow: 0.022em 0.022em 0.022em rgb(5, 5, 5);
  margin-bottom: 0.2em;
}

.head_link {
  font-size: 1.4 em;
  text-decoration: none;
  color: $primary-color;
  width: 100%;
  text-align: left;
}