@import "../../style/color.scss";
.search {
  background-color: transparent;
  border: 2px solid $primary-color;
  border-radius: 50px;
  font-size: 2rem;
  border: 0.1em solid $secondary-color;
  padding: 0.5rem 1rem;
  width: 80vw;
  color: white;
  margin-bottom: 1em;
  &:focus {
    outline: none;
    background-color: $primary-color;
  }
}
.title{
  font-size: 4em;
  font-weight: 700;
  color: $secondary-color;
   text-shadow: 0.022em 0.022em 0.022em rgb(5, 5, 5);
}