@import '../../../style/color.scss';
.search {
 background-color: transparent;
 border: 2px solid $primary-color;
 border-radius: 50px;
 font-size: 2rem;
 border: none;
 border: 0.01em solid transparent;
 padding: 0.5rem 1rem;
 width: 80vw;
 color: white;
 margin: 1.5em 0em;

 &:focus {
  outline: none;
  background-color: $primary-color;
   border: 0.01em solid $secondary-color;
 }
}